<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css" /> 
    <title>Admin Console</title>
</head>
<body>

    <%- include('./partials/admin_nav.ejs') %>
    <div class="admin content">

        <h2>Add a Resort </h2>

        <form action="/resorts" method="POST">
                <input type="text" name="name" required placeholder="Resort Name">
                <input type="text" name="city" required placeholder="City">
                <input type="text" name="country" required placeholder="Country">
                <input type="text" name="type" required placeholder="Resort Type">
                <input type="number" name="rate" required placeholder="Current Rate(USD)">
                <input type="text" name="amenities" required placeholder="Amenities">
                <textarea name="summary" rows="4" required placeholder="Summary"></textarea>
                <select name="isFeatured" required>
                    <option value="true">Featured</option>
                    <option value="false">Not Featured</option>
                </select>
            </label></br>
            <button type="submit">Add</button>
        </form>

     
     
       <div id="Edit-Delete-Section">
        <h2>Edit / Delete Resorts</h2>

        <div id="edit-delete-forms">
        <form>
            <label>Search by Resort ID: </label>
            <input type="number" />
            <input type="submit" value="Submit">

        </form>

        <form>

            <label>Search by Keyword: </label>
            <input type="text" /> 
            <input type="submit" value="Submit">

        </form>
    </div>


    <div id="resort-section">
        <% theResorts.forEach((resort, i) => { %>
            <div class="resort-profile">
                <img class="user-destinationImg" src="" alt="Destination Image" width="100px">
            
            <div class="user-username-div">
                <p class="user-username"><%= resort.city %></p>
            </div>

            <div class="user-destination-div">
            <p class="user-destination"><%= resort.country %></p>
        </div>

        <div class="user-hobbies-div">
            <p class="user-hobbies"><%= resort.resort_type %></p>
            </div>

            <a class= "edit-btn" href="/resorts/<%=resort.id%>/put?city=<%=resort.city%>&country=<%=resort.country%>&resort_type=<%=resort.resort_type%>">Edit</a>
            <a class= "delete-btn" href="/resorts/<%=resort.id%>/delete?city=<%=resort.city%>">Delete</a>
            </div>
        <% }); %>
    </div>

            
      


     
       </div>
      
    </div>

    
</body>
</html>