<html lang="en">
    <link rel="stylesheet" href="/admin.css" />
    <link rel="stylesheet" href="/user.css" />

    <body>

        <nav id="admin-nav">
            <h1>EDIT RESORT</h1>
            <nav>
            <a href="/">Home</a>
            <a href="/admin">Admin Home</a>
            <a href="#Add">Add</a>
            <a href="#Edit-Delete-Section">Edit/Delete</a>
            <a href="/userlogin/logout">Logout</a>
        </nav>
        </nav>

        <div class="admin-edit-content">
            <form action="/admin/<%= locals.id %>?_method=PUT" method="POST">
                <label>
                    <h2>Edit Resort Details:</h2></br>
                    <input type="text" name="resort_name" value="<%= locals.resort_name %>" required placeholder="<%= locals.resort_name %>">
                    <input type="text" name="city" value="<%= locals.city %>" required placeholder="<%= locals.city %>">  
                    <input type="text" name="country" value="<%= locals.country %>" required placeholder="<%= locals.country %>">
                    <input type="text" name="resort_type" value="<%= locals.resort_type %>" required placeholder="Resort Type">
                    <textarea name="summary" rows="4" required placeholder="Summary"><%= locals.summary %></textarea> 
                    <input type="text" name="cost" value="<%= locals.cost %>" required placeholder="Cost"> 
                    <input type="number" name="current_rate_usd" value="<%= locals.current_rate_usd %>" required placeholder="Current Rate USD"> 
                    <input type="text" name="amenities" value="<%= locals.amenities %>" required placeholder="Amenities"> 
    
                    <select name="is_featured" required>
                        <option value="true" <% if (locals.isFeatured) { %>selected<% } %>>Featured</option>
                        <option value="false" <% if (!locals.isFeatured) { %>selected<% } %>>Not Featured</option>
                    </select> 
                </label></br>
                <button type="submit">Edit</button>
            </form>
        </div>

        <footer>
            <p>&copy; 2024 Travel Guru. All rights reserved.</p>
        </footer>

    </body>

</html>