<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="edit content">
            <form action="/admin/<%= locals.id %>?_method=PUT" method="POST">
                <label>Edit Resort Details:</br>
                    <input type="text" name="resort_name" value="<%= locals.resort_name %>" required placeholder="Resort Name">
                    <input type="text" name="city" value="<%= locals.city %>" required placeholder="City">
                    <input type="text" name="country" value="<%= locals.country %>" required placeholder="Country">
                    <input type="text" name="resort_type" value="<%= locals.resort_type %>" required placeholder="Resort Type">
                    <textarea name="summary" rows="4" required placeholder="Summary"><%= locals.summary %></textarea>
                    <input type="text" name="cost" value="<%= locals.cost %>" required placeholder="Cost">
                    <input type="number" name="current_rate_usd" value="<%= locals.current_rate_usd %>" required placeholder="Current Rate USD">
                    <input type="text" name="amenities" value="<%= locals.amenities %>" required placeholder="Amenities">
    
                    <select name="is_featured" required>
                        <option value="true" <% if (locals.isFeatured) { %>selected<% } %>>Featured</option>
                        <option value="false" <% if (!locals.isFeatured) { %>selected<% } %>>Not Featured</option>
                    </select>
                </label></br>
                <button type="submit">Edit</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
