<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <% if (loggedIn) { %>
       
        <div class="user-info">
            <h2>Welcome, <%= user.firstName %> <%= user.lastName %></h2>
            <p>Email: <%= user.email %></p>
            <p>Phone: <%= user.phone %></p>
            <p>Date of Birth: <%= user.dob %></p>
            <p>Interests: <%= user.interests.join(', ') %></p>
            <form action="/users/<%= user._id %>/update" method="POST">
                <label>First Name:
                    <input type="text" name="firstName" value="<%= user.firstName %>" required>
                </label><br>
                <label>Last Name:
                    <input type="text" name="lastName" value="<%= user.lastName %>" required>
                </label><br>
                <label>Email:
                    <input type="email" name="email" value="<%= user.email %>" required>
                </label><br>
                <label>Phone:
                    <input type="tel" name="phone" value="<%= user.phone %>">
                </label><br>
                <label>Date of Birth:
                    <input type="date" name="dob" value="<%= user.dob %>" required>
                </label><br>
                <label>Interests:
                    <input type="text" name="interests" value="<%= user.interests.join(', ') %>">
                </label><br>
                <button type="submit">Update</button>
            </form>
        </div>
    <% } else { %>
        
        <div class="login-form">
            <h2>Login or Create Account</h2>
            <form action="/login" method="POST">
                <label>Email:
                    <input type="email" name="email" required>
                </label><br>
                <label>Password:
                    <input type="password" name="password" required>
                </label><br>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    <% } %>

   
    <div class="search-form">
        <h2>Search for Resorts</h2>
        <form action="/search" method="GET">
            <label>Search:
                <input type="text" name="query" placeholder="Enter keywords">
            </label>
            <button type="submit">Search</button>
        </form>
    </div>

</body>
<%- include('./partials/foot.ejs') %>
</html>
